//@import 'materialize';
.reset__container {
  margin-top:200px;
  text-align:center;
}

.status__container {
  height:220px;
}

.bogus__submission {
  padding:10px;
  text-align:center;
}

.hidden {
  display:none;
}

.visible {
  display:block;
}